save-exact=true
resolution-mode=lowest
use-node-version=22.14.0
engine-strict=true
hoist=false
strict-peer-dependencies=true
frozen-lockfile=true
prefer-frozen-lockfile=true
side-effects-cache=true
prefer-offline=true
